<html>

<head>
	<style>

	
	#water
	{
		position: absolute;
		left:530px;
		top:260px;
	}
	#soap
	{
		position: absolute;
		left:545px;
		top:400px;
	}
	#peroxide
	{
		position: absolute;
		left:720px;
		top:260px;
	}
	#yeast
	{
		position: absolute;
		left:720px;
		top:400px;
	}


	</style>
	
</head>

<body>

	<div>
		<img src="waterdrop.png" id="water"/>
    </div>
    <div>
		<img src="" id="soap"/>
    </div>
    <div>
		<img src="" id="peroxide"/>
    </div>
    <div>
		<img src="" id="yeast"/>
    </div>
    
</body>


</html>