<html>
  <head>
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <style>
      #redball
      {
        position:absolute;
        left:600px;
        top:300px
      }
      #greenball
      {
        position:absolute;
        left:400px;
        top:300px
      }
  </style>
  </head>
  <body>
    <table border="10px">
      <tr>
        <td><button onclick="redballobj.move(0,-3);">
        red move upleft
        </button></td>
        <td><button onclick="redballobj.move(0,-3);">
        red move up
        </button></td>
        <td><button onclick="move_upright(0,-3);">
        red move upright
        </button></td>
      </tr>
    
    <button onclick="redballobj.move(-3,0);">
      red move left
    </button>
    <button onclick="redballobj.move(0,3);">
      red move down
    </button>
    <button onclick="redballobj.move(3,0);">
      red move right
    </button>
    
    <button onclick="greenballobj.move(-3,0);">
      green move left
    </button>
    <button onclick="greenballobj.move(0,3);">
      gereen move down
    </button>
    <button onclick="greenballobj.move(3,0);">
      green move right
    </button>
    <button onclick="greenballobj.move(0,-3);">
      green move up
    </button>
    <img width="65px" id="redball" src="image1/dishsoap.jpg"/>
    <img width="65px" id="greenball" src="image1/foodcolor.jpg"/>
  </body>
  <script>
  var redballobj;
  var greenballobj;
  
    function AnimationObject(cssid)
    {
      this.fade_out=function()
      {
        $(cssid).fadeOut(1000);
      }
      this.fade_in=function()
      {
        $(cssid).fadeIn(1000);
      }
      this.move=function(dx,dy){
        console.log("distance across:"+dx);
        console.log("distance up,down:"+dy); 
        var offset=$(cssid).offset();
        offset.left=offset.left+dx;
        offset.top=offset.top+dy;
        $(cssid).css({top:offset.top+'px',left:offset.left+'px'});
      }
    
    } 
    function move_downleft(){
      redball.top=redball.top+10
      redball.left=redball.left-10
    }
    function move_downright(){
      redball.top=redball.top+10
      redball.left=redball.left+10
    }s
    function move_upright(){
      redball.top=redball.top-10
      redball.left=redball.left+10
    }
    function move_upleft(){
      redball.top=redball.top-10
      redball.left=redball.left-10
    }
    $(document).ready(function()
      {
        redballobj=new AnimationObject("#redball");
        console.log("document ready ran");
        greenballobj=new AnimationObject("#greenball");
      });
  </script>
</html>