<html>
<head>

<style>
  body{
   
  background-image:url('/assets/bluelab.jpg');  
  background-size: 1365px 665px;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
}

  button{
    background-color: red;
    border-style:dashed;

  }
  .categoryicon{height: 50px; width: 50px;}
  #scienceIcons{top:450px; left:100px; position:fixed;}

  
  #pamoeba {height: 200px; width:200px; position:fixed; left:1100px;top:450px}

</style>

<script type="text/javascript">
  function IconSlideUp (selector){

    $(selector).animate({top: "+=50px"}, IconSlideDown(selector));
  }
  function IconSlideDown(selector){

    $(selector).animate({top: "-=50px"});
  }

  function IconSlideUpMove (selector){

    $(selector).animate({top: "+=50px", width:"+=20px"}, IconSlideDownMove(selector));
  }
  function IconSlideDownMove(selector){

    $(selector).animate({top: "-=50px", width:"-=20px"});
  }

  $(document).ready(function(){
    var bounceInterval = setInterval(function(){ IconSlideUp('#scienceIcons')}, 1000);
    var bounceInterval = setInterval(function(){ IconSlideUpMove('#pamoeba')}, -1000);

  });

</script>

</head>
  
  <body>

    <div style="position:fixed;left:1200px;top:100px">
      <button onclick="alert('Press OK to go Home or X to cancel');"><font color="white" size="5";> HOME </font></button>
    </div> 

    <div style="position:fixed;left:160px;top:525px">
      <%= link_to "SELECT A SCIENCE", virtual_project_path, :confirm => 'Are you sure you want to select a science?', :style => "color:  white; background-color: red; border-style: dotted; font-size: 1.2em; padding: 3px;" %>
    </div>

    <div style="position:fixed;left:432px;top:160px"> 
      <button onclick="alert('Press OK to go to Parents Corner or X to cancel');"><font color="white" size="3";> PARENT'S CORNER </font></button>
    </div>

    <div>
     <img src="/assets/purpleamoeba.png" class="categoryicon" id="pamoeba"/>
    </div>

    <div style="position: fixed; left:420px; top:165px">
      <img width="195px" height="130px" src="/assets/ulsign1.png"/>
    </div>

    <div id="scienceIcons">
      <img src= "/assets/electricicon.png" class="categoryicon"/>
      <img src= "/assets/flameicon.png" class="categoryicon"/>
      <img src= "/assets/waterdrop.png" class="categoryicon" />
    </div>
  </body>
</html> 
