<html>
<head>

<style>
  body{
   
  background-image:url('/assets/labpic.jpg');  
  background-size: 1365px 665px;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
}

  button{
    background-color: red;
    border-style:dashed;

  }

</style>
</head>
  
  <body>

    <div style="position:fixed;left:1060px;top:190px">
      <button onclick="alert('Press OK to go Home or X to cancel');"><font color="white" size="5";> HOME </font></button>
    </div> 

    <div style="position:fixed;left:30px;top:300px">
      <button onclick="alert('Press OK to select a new science or X to cancel');"><font color="white" size= "3";> SELECT A SCIENCE </font></button>
    </div>

    <div style="position:fixed;left:240px;top:230px"> 
      <button onclick="alert('Press OK to go to Parents Corner or X to cancel');"><font color="white" size="3";> PARENT'S CORNER </font></button>
    </div>

    <div style="position:fixed; left:90px;top:490px">
    <img width="150px" src="amoeba.jpg"/>
    </div>

  </body>
</html> 

