<html>
<head>


</head>
	<body>
		<form>
			<input placeholder= "child's name"/> 
			<input placeholder= "child's age"/>
			<input placeholder="parent's email address"/>
			<input placeholder="pincode" type="password"/>
			<button type ="button">Submit</button>
		
		
		</form>
	
	
	
	
	</body>
</html>	