<html>
	<head>


		<header align='center'><font face="drawing guides" color="white" size="20"><br align="center">Welcome!</br></font>

			<font face="drawing guides" color="white" size="5"><br>You're on your way to becoming a Junior Scientist!</br></font>

			<style type="text/css">
          body{background:url('C:/Users/Tiffani/ULSafety/app/assets/images/backgrndpic.jpg')no-repeat;background-position:center;}
          </style>
	</head>
		<br></br>
		<body>

		<%= form_tag("/login",method:"post") do %>

			<table align='center'>
			<tr>
			<td align="right"><font face="drawing guides" color="white" size="5">Child's Name:</font></td>
			<td align="left"><input placeholder= "enter name"/></td>
			</tr>

			<tr>
			<td align="right"><font face="drawing guides" color="white" size="5">Child's Age:</font></td>
			<td align="left"><input type=numbers placeholder= "enter age" maxlength='2'onkeypress='return onlyNumbers();'/></td>
			</tr>

			<tr>
			<td align="right"><font face="drawing guides" color="white" size="5">Your Email:</td></font>
			<td align="left"><input placeholder="enter email address"/></td>
			</tr>

			<tr>

			<td align="right"><font face="drawing guides" color="white" size="5">Create Pincode</font></td>
			<td align="left"><input type= "password" onkeypress="return onlyNumbers();" placeholder= "enter pincode" maxlength="4"/></td>
			</tr>

			<tr>
			<td align="right"><button type="submit">Submit</button>

</table>
<% end %>

<script language="JavaScript">
function onlyNumbers(evt)
{
  var e = event || evt; // for trans-browser compatibility
  var charCode = e.which || e.keyCode;

  if (charCode > 31 && (charCode < 48 || charCode > 57))
    return false;

  return true;

}
</script>