  <html>
<head>
  <header align='center'><font face="drawing guides" color="white" size="20"><br align="center">Choose Your Avatar!</br></font>
  
    <style type="text/css">
    body{background:url('/assets/backgrndpic.jpg')no-repeat;background-position:center;}
    </style>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
   </script> 

 <script>
 $(document).ready(function(){
 $("#hide").click(function(){
   $("").hide();
 });
 $("#show").click(function(){
   $("").show();
 });
});

function fade_in(){
$().fadeIn
}
 </script>
   <style>     

  

    </style>

 
</head>

 <body>
    
<div style='position:absolute; left:350px; top: 250px;'><button onclick="showContinueButton(dog)" ><img width="80px"id="dog"src="/assets/dog.jpg" ></div>
<div style='position:absolute; left:650px; top: 250px;'><button onclick= "showContinueButton(cat)"><img width="80px"id="cat"src="/assets/cat.jpg"></div>
<div style='position:absolute; left:950px; top: 250px;'><button  onclick= "showContinueButton(frog)"><img width="80px"id="frog"src="/assets/frog.jpg"></div>



<div style="position:absolute;left:850px;top:450px;">
<br><button style="opacity:.4" onclick="fadeIn">CONTINUE</button></br>
</div>




    

 </body>



</html>