

<html>
<head>
  <script>
    function showContinueButton(avatar){
      
    }

  </script>
    <style>     
     #button{
      position:absolute;
      left:90px;
      top:100px;
     }
     </style>

  
</head>

  <body>
    
<br><img width="75px"id="dog"src="C:/Users/Stacey J/ULSafety/app/assets/images/dog.jpg" onclick= "showContinueButton(dog)"></br>
<br><img width="75px"id="cat"src="C:/Users/Stacey J/ULSafety/app/assets/images/cat.jpg" onclick= "showContinueButton(cat)"></br>
<br><img width="75px"id="frog"src="C:/Users/Stacey J/ULSafety/app/assets/images/frog.jpg" onclick= "showContinueButton(frog)"></br>



<div style="position:absolute;left:250px;top:350px;">
<br><button>CONTINUE</button></br>
</div>




     

  </body>



</html>

