<html>
<head>
  <script>
    function showContinueButton(avatar){
      
    }

  </script>
    <style>     
     button{
       background-image:url('assets/backgrndpic.jpg');
      
      position:absolute;
      left:90px;
      top:100px;
     }
     </style>  
</head>

  <body>

    <%= form_tag("/avatars",method:"post") do%>

  
      <br>
      <%= image_tag('dog.jpg')%>
      <img width="75px"id="dog"src="C:/Users/Stacey J/ULSafety/app/assets/images/dog.jpg" onclick= "showContinueButton(dog)"></br>
      <%= image_tag('cat.jpg') %>
      <br><img width="75px"id="cat"src="C:/Users/Stacey J/ULSafety/app/assets/images/cat.jpg" onclick= "showContinueButton(cat)"></br>
      <%= image_tag('frog.jpg') %>
      <br><img width="75px"id="frog"src="C:/Users/Stacey J/ULSafety/app/assets/images/frog.jpg" onclick= "showContinueButton(frog)"></br>
      <div style="position:absolute;left:250px;top:350px;">
      <br><input type= "submit" value = "continue">
      </div>
    <% end %>   
  </body>

</html>

